@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

*{
    font-family: 'Jetbrains Mono', monospace;
}
div.cm-gutters{
    background-color: transparent !important;
}
.cm-gutter.cm-lineNumbers{
    display: none !important;
    background-color: transparent !important;
}
div.cm-activeLine{
    background-color: transparent !important;
}
.cm-gutter.cm-lineNumbers.lineActive{
    display: flex !important;
    background-color: transparent !important;

}


.cm-activeLineGutter{
    background-color: transparent;
}
.cm-gutter.cm-foldGutter{
    display: none !important;
}
.cm-activeLineGutter{
    background-color: transparent !important;
}


.editorExportClass{
    border-radius: 10px !important;
}
.cm-editor{
    border-radius: 10px !important;
    padding: 20px 10px;
    caret-color: transparent !important;
    caret: transparent !important;
    outline: none !important;
}