/* @tailwind base; */
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

*{
    font-family: 'Jetbrains Mono', monospace;
}
#capture{
    min-width: 240px !important;
}
div.cm-gutters{
    background-color: transparent !important;
}
.cm-gutter.cm-lineNumbers{
    display: none !important;
    background-color: transparent !important;
}
div.cm-activeLine{
    background-color: transparent !important;
}
.cm-gutter.cm-lineNumbers.lineActive{
    display: flex !important;
    background-color: transparent !important;

}


.cm-activeLineGutter{
    background-color: transparent;
}
.cm-gutter.cm-foldGutter{
    display: none !important;
}
.cm-activeLineGutter{
    background-color: transparent !important;
}


.editorExportClass{
    border-radius: 10px !important;
}
.cm-editor{
    border-radius: 10px !important;
    padding: 20px;
    /* caret-color: transparent !important; */
    outline: none !important;
    /* min-width: 80px; */
    cursor: text !important;
    pointer-events:visible;
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    word-break: break-word !important;
    width: fit-content;
    
}
.cm-line{
    word-break: break-all !important;
    word-wrap: break-word !important;
    overflow: visible !important;
}
.gradient-cover-one{
    background: hsla(280, 95%, 57%, 1);

background: linear-gradient(180deg, hsla(280, 95%, 57%, 1) 0%, hsla(193, 90%, 55%, 1) 100%);

background: -moz-linear-gradient(180deg, hsla(280, 95%, 57%, 1) 0%, hsla(193, 90%, 55%, 1) 100%);

background: -webkit-linear-gradient(180deg, hsla(280, 95%, 57%, 1) 0%, hsla(193, 90%, 55%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B429F9", endColorstr="#26C5F3", GradientType=1 );
}
.cm-scroller{
    overflow-x: hidden !important;
    /* white-space: pre-wrap !important; */
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
}

/* ::-webkit-resizer {
    
    background: red;
    
   

    
    display:block;
     
    width: 50px !important;
    height: 100px !important;
} */


.text-gradient{
    background: #00FF00;
background: linear-gradient(to bottom right, #00FF00 0%, #00FFFF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

.gradient-background {
    background: linear-gradient(210deg,deepskyblue,#5906ef);
    background-size: 120% 120%;
    animation: gradient-animation 10s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }